@charset "UTF-8";

/* 모든 css에 공통적으로 적용되는 사항은 template.css파일에 작성합니다.
글로벌 네비게이션바는 header.css, footer는 footer.css 고정입니다.

template.css의 콘텐츠바디에 들어갈 각 jsp파일들은 필요에 따라 해당 jsp파일에 적용할 css파일을 생성하세요.
css파일명은 해당 css파일이 적용될 jsp파일명과 동일해야 합니다.(예: template.css - template.jsp, index.css - index.jsp)

css의 기본 div 컴포넌트는 wrap과 content입니다.
div의 id명이나 class명은 해당 컴포넌트의 기능이나 역할에서 따옵니다.
단, wrap이나 content처럼 다른 css파일에도 동일하게 쓰이는 컴포넌트는 앞에 구분글자를 최소 1개이상 넣어주세요.
(예: template.css의 wrap과 content id명: #wrap, #content,
index.css의 wrap과 content id명: #i_wrap, #i_content)

프론트엔드 지침서를 확인해주세요! */


/* 공통 */
a {
	text-decoration: none;
}

body {
	margin: 0;
}

#wrap {
	width: 100%;
	margin: 0 auto;
	max-height: 100%;
}

/* header는 글로벌 네비게이션바 부분 고정이므로 되도록 건드리지 말 것 */
#header {
	height: 97.844px;
	background-color: #ffffff;
}

/* 각 jsp파일이 보여지는 콘텐츠바디 부분 */
#contents {
	min-height: 800px;
	max-height: 100vh;
	margin: 0 auto;
}